#nav-banner {
  font-size: 125%;

  margin: 0 30px;
  box-shadow: 0 0 5px purple;
  padding: 12px;

  display: flex;
  flex-direction: row;
}

#nav-link {
  color: violet;

  font-weight: normal;
  text-decoration: none;

  margin-right: 1rem;
}

#nav-home {
  color: white;
  font-weight: bold;
  flex-grow: 1;
}